body {
    background-image: url('soft-gradient-wave-curve-background-260nw-2354074101.webp');
    background-size: cover; 
    background-repeat: no-repeat;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px 20px;
    border: 5px solid #ac3636;
}

th {
    background-color: #f4f4f4;
}
